[phases.setup]
nixPkgs = ["nodejs-20_x", "npm"]

[phases.install]
cmds = [
  "npm ci",
  "npm install"
]

[phases.build]
cmds = [
  "npm run build"
]

[start]
cmd = "echo 'Static site built successfully'"

